body{
    font-family: 'Open Sans Condensed';
    min-width: 387px;
}
.no-margin {
    margin: 0px;
}
.no-padding {
    padding: 0px;
}
.image_full_w {
    max-width: 100%;
}
.d_table {
    display: table;
}
.v_elign {
    display: table-cell;
    vertical-align: middle;
}
.b_full_container {
    height: 100%;
    width: 100%;
}
.no-border {
    border:none;
    outline: none;
}
/*Header*/
.header {
    background: rgb(247,247,247);
}
#basket-wreaper {
    height: 80px;
}
#basket-wreaper ul {
    height: 100%;
    display: inline-block;
    background-color: rgb(238, 238, 238);
    float: right;
    width: 132px;
}
#basket-wreaper ul li:nth-child(1) {
    height: 100%;
    width: 60px;
}
#basket-wreaper ul li:nth-child(2) {
    height: 100%;
    width: 60px;
}
#basket-wreaper ul li:nth-child(3) {
    height: 100%;
    width: 140px;;
}
#basket-wreaper ul li button{
    font-family: Roboto;
    font-weight: 100;
}
.w-title {
    padding: 15px;
    font-size: 35px;
    color:black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#s-join {
    font-size: 14px;
    font-family: roboto;
}
#s-sign-in {
    font-size: 14px;
    font-family: roboto;
}
#s-shop-bag {
    font-size: 14px;
    font-family: roboto;
}
/* Change the link color on hover */
#s-join:hover {
    color:blue;
}
#s-sign-in:hover {
    color:blue;
}
#s-shop-bag:hover #s-basket-n {
    color: blue;
}
/* ./hover*/
#s-basket-n {
    color:red;
}
.nav.navbar-nav li a:hover{
    color: red;!important;
}
.nav.navbar-nav li {
    background-color: black;!important;
}
.nav.navbar-nav li a{
    color:white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: red;
    background: black;
}

#bs-example-navbar-collapse-1 {
    border-radius: 0px; !important;
}
.g_l {
    color: blue !important;
}
/* ./header */

/*add post modal*/
/* hide the input form - for upload image - to change to another */
#upfile {
    display: none;
}
/* button to upload file */
#btn {
    width: 100%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow:
            0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
            inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
            inset 0 3px rgba(255,255,255,0.2), /* Top Light Shadow */
            inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
            inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
}
/*decoration button */
#btn:hover {
    opacity: 0.7;
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    color:black;
}
/* ./add post modal*/
/*content*/
.product-content-body {
    background-color: rgb(238, 238, 238);
}
.product-presentation-body {
    background-color: rgb(255,255,255);
    width: calc(32.9% - 3px);
    margin: 3px;
}
.product-image-body {
    padding: 1%;
}
.col-xs-12.product-image-body img{
    width: 100%;
}
.col-xs-12.product-title {
    font-family: ROBOTO;
    font-size: 13px;
    color:rgb(86,85,85);
    margin-bottom: 0px;
    margin-top: 10px;
    word-wrap: normal;
    text-align: left;
}
.product-bottom-line {
    position: relative;
    width: 98%;
    display: inline-block;
    left: 1%;
    border-bottom: 2px solid rgb(237, 237, 237);
}
.product-r-border {
    position: absolute;
    width: 2px;
    right: 0px;
    display: inline-block;
    background-color: rgb(237, 237, 237);
    height: 35px; top: -2px;
}
.product-price {
    font-family: 'Open Sans Condensed';
    text-align: center;
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 600;
    color:rgb(62,63,63);
}
.product-buy-body {
    text-align: center;
    margin-bottom: 2px;
}

.popular-product-p{
    text-align: left;
    font-size: 14px;
    font-family: ROBOTO;
    font-weight: 100;
    margin: 20px 20px 20px 2px;
}
.popular-product-p span{
    color:red;
}
/* ./content*/